* {
    padding: 0;
    margin: 0;
}

header {
    background: url('./images/hero.jpg') rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar a {
    color: #000;
    
}


.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #000000;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
  
  }

  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  }

.hero {
    color: #fff;
}

.hero h1 {
    font-size: 2rem;
}

.icons {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    background-color: #504b4f;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

.second-section, .third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}


.second-section img {
    width: 95%;
    height: 95%;
}

.third-section img {
    width: 95%;
    height: 95%;
}

.row-1 {
    padding: 35px 10px;
}

.ride-now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    background-image: url('./images/ridenow.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.ride-now h2 {
    color: #fff;
    text-shadow: white 20px 20px 10px;
}

.ride-now p {
    color: #fff;
    text-shadow: white 20px 20px 10px;

}



footer {
    background-color: black;
    padding: 50px;
}